<div class="container">
 <div class="row">
  <div class="mx-auto">

   <h4 class="mt-4 mb-4"><%= @title %>の穴場スポット</h4>

    <div>
     <% @posts.each do |post| %>
      <% if post.images.attached? %>
       <% post.images.each do |image| %>
        <%= link_to post_path(post.id) do %>
         <%= image_tag image.variant(resize_to_limit: [100, 100]) %>
        <% end %>
       <% end %>
      <% end %>
     <% end %>
    </div>

  </div>
 </div>
</div>