<div class="container">
 <div class="row">
  <div class="mx-auto">

      <div class="text-center p-4">
        <h4 class="mt-5 mb-5"><strong>本当に退会しますか？</strong></h4>
        <p>退会すると、会員情報や<br>
        これまでの投稿履歴が閲覧できなくなります。<br>
        退会する場合は、「退会する」をクリックしてください。
        </p>
      </div>

      <div class="mt-4 mb-4", style="display: flex;">
        <%= link_to "退会しない", members_my_page_path,class: 'btn btn-sm', style: "margin-right: 5px;" %>
        <%= link_to "退会する", members_withdraw_path,method: :patch,class: 'btn btn-sm', style: "margin-left: 10px;"   %>
      </div>

  </div>
 </div>
</div>