<div class="container">
 <div class="row">
  <div class="mx-auto">

   <h5 class="mt-4 mb-4">投稿履歴一覧</h5>

   <div>
     <% @posts.each do |post| %>
       <% if post.images.attached? %>

         <% if @flag %>
           <% post.images.each do |image| %>
             <% if post.favorites.count !=0 %>
               <%= link_to post_path(post.id) do %>
               <%= image_tag image.variant(resize_to_limit: [100, 100]) %>
               <% end %>
             <% end %>
           <% end %>

         <% else %>

           <% post.images.each do |image| %>
             <%= link_to post_path(post.id) do %>
             <%= image_tag image.variant(resize_to_limit: [100, 100]) %>
           <% end %>
         <% end %>

       <% end %>


      <% end %>
     <% end %>
    </div>

  </div>
 </div>
</div>