@use '~bootstrap/scss/bootstrap';

// @font-face {
//   font-family: "Tomoegozen";
//   src: url('../fonts/tomoegozen.otf');
//   font-style: normal;
//   font-weight: normal;
// }

// .tomoegozen {
//   font-family: 'Tomoegozen';
// }

body {
  font-family: 'Hiragino Mincho Pro';
  color: #999999;
}

img
{
	height: 200px;
	width: 200px;
	object-fit: cover;
}
