@use '~bootstrap/scss/bootstrap';

// @font-face {
//   font-family: "Tomoegozen";
//   src: url('../fonts/tomoegozen.otf');
//   font-style: normal;
//   font-weight: normal;
// }

// .tomoegozen {
//   font-family: 'Tomoegozen';
// }

body {
  font-family: 'Hiragino Mincho Pro';
  color: #999999;
}

img
{
	height: 200px;
	width: 200px;
	object-fit: cover;
}

// 検索ボックス
.search-box {
  display: flex;
  align-items: center;
}

.search-icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 10px; /* マージンを調整してアイコンとテキストフィールドの間隔を調整 */
}

.search-icon-button:focus {
  outline: none;
}

input[type="text"]::placeholder {
  color: #999; /* プレースホルダーテキストの色をグレーに設定 */
}

/* 登録ボタンのカスタマイズ */
 .btn {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
// 	width: 120px;
	margin: auto;
	padding: 0.5rem 2.5rem;
	font-weight: bold;
	border: 2px solid #99CCCC;
	color: #99CCCC;
	border-radius: 100vh;
	transition: 0.5s;
}
.btn:hover {
	color: #fff;
	background: #99CCCC;
}

h5.text-center {
  color: #99CCCC;
}


// .container {
//   background-image: url("/assets/green.jpg");
// 　background-repeat: no-repeat; //画像を繰り返さない
//   background-size: cover;　//縦横の比を保ったまま、要素にぴったりなサイズになる

// }
